.card { 
	background: #CCCCCC; 
	height: 70px; 
	border-radius: 5px;
}

.phase-empty {
	background: #EEEEEE;
}

.player {
	border-radius: 15px;
	background: green;
}

.self-true {
	background: red;
}

.player-inner {
	padding: 10px;
}

.game-listing {
	background: #CCCCCC; 
	border-radius: 5px;
}

.selectable-card {
	border: 2px solid white;
}

img {
	border: 2px solid white;	
}

.selected-true, .hand-to-build {
	border: 2px solid red;
}

.hand-payment {
	border: 2px solid green;
}

form.input-errors-true input {
	background: red;
}