/* type general */

.light-text {
	font-weight: normal;
}

.smaller {
	font-size: 0.8em;
}

.danger {
	color: #DB2929;
}

/* login bar */

form.input-errors-true input {
	background: #FF0000;
	color: white;
}

form.input-errors-true input:hover {
	background: #FF4444;
	color: white;
}

form.input-errors-true input:focus,
form.input-errors-true input.focused {
	background: #FFAAAA;
	color: black;
}

span.login-processing {
	width: 39px;
	height: 16px;
	display: inline-block;
	padding: 5px 14px 6px;
	font-size: 13px;
}

.lefthand-label {
	margin-right: 10px;
}

.label-text {
	color: #858585;
}
	
.username-text {
	color: white;
}

a.logout {
	color: #404040;
}

/* game listing view */

.game-listing-section {
	margin-bottom: 20px;	
}

.game-listing {
	background: #CCCCCC; 
	padding-top: 12px;
	color: #555555;
}

.game-listing p {
	color: #888888;	
}

.game-listing-section .even-row {
	background: #DDDDDD;
}

/* game view */

div.card { 
	background: #CCCCCC; 
	height: 70px; 
	border-radius: 5px;
}

img.selectable-card {
	border: 2px solid white;
}

img.selected-role-true,
img.primary-selection {
	border: 2px solid red;
}

img.current-role,
img.secondary-selection {
	border: 2px solid green;
}

div.used-role {
	background-color: white;
	opacity:0.5;
	position: absolute;
	width: 57px;
	height: 75px;
	z-index: 0;	
}

div.building-overlay {
	position: absolute;
	width: 57px;
	height: 80px;
	z-index: 0;	
}

div.production-good {
	background: url(../images/good.png) no-repeat;
}

div.chapel-cards {
	font-size: 30px;;
	font-weight: bold;
	text-align: center;
	padding-top: 50px;
	color: #555555;
}

/* players */

.player {
	border-radius: 5px;
	border-color: rgb(238, 220, 148) rgb(238, 220, 148) rgb(228, 198, 82);
	border-width: 1px;
	border-style: solid;
	height: 40px;
	margin-bottom: 10px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: rgb(238, 220, 148);
	background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
	background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
	background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
	background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
	background-image: linear-gradient(top, #fceec1, #eedc94);
	background-image: -o-linear-gradient(top, #fceec1, #eedc94);
}

.self-true { /* for player div that is current player */
/* 	background: #AAAAAA; */
}

