span.progress {
	width: 39px;
	height: 16px;
	display: inline-block;
	padding: 5px 14px 6px;
	font-size: 13px;
}

.topbar span.text {
	color: #BFBFBF;
}

.card { 
	background: #CCCCCC; 
	height: 70px; 
	border-radius: 5px;
}

.phase-empty {
	background: #EEEEEE;
}

.player {
	border-radius: 15px;
	background: green;
}

.self-true {
	background: red;
}


.player-inner {
	padding: 10px;
}

.game-listing {
	background: #CCCCCC; 
	border-radius: 5px;
}

.selectable-card {
	border: 2px solid white;
}

img.cardimage {
	border: 2px solid white;	
}

.selected-true, .hand-to-build {
	border: 2px solid red;
}

.hand-payment {
	border: 2px solid green;
}

form.input-errors-true input {
	background: #FF0000;
	color: white;
}

form.input-errors-true input:hover {
	background: #FF4444;
	color: white;
}

form.input-errors-true input:focus, form.input-errors-true input.focused {
	background: #FFAAAA;
	color: black;
}

.produced {
	background: url(../images/good.png) no-repeat;
	position: absolute;
	width: 57px;
	height: 80px;
	z-index: 0;	
}

.not-produced {
	position: absolute;
	width: 57px;
	height: 80px;
	z-index: 0;	
}