.card { 
	background: #CCCCCC; 
	height: 70px; 
	border-radius: 5px;
}

.phase-empty {
	background: #EEEEEE;
}

.player {
	border-radius: 15px;
	background: green;
}

.self {
	background: red;
}

.player-inner {
	padding: 10px;
}

.game-listing {
	background: #CCCCCC; 
	border-radius: 5px;
}

.selectable-card {
	border: 2px solid white;
}

.selected-true {
	border: 2px solid red;
}