<div class="container">

        <div class="row">
            <div class="span12">
                <table class="table zebra-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>First login</th>
                            <th>Recent login</th>
                            <th>Login times</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng:repeat="user in users.$orderBy('username')">
                            <td>{{user.username}}</td>
                            <td>{{user.firstLogin | date:"dd MMM yyyy HH:mm:ss"}}</td>
                            <td>{{user.lastLogin | date:"dd MMM yyyy HH:mm:ss"}}</td>
                            <td>{{user.timesLoggedIn}}</td>
                        </tr>
                    </tbody>
                </table>

             </div>
        </div>
    </div>
</div>