

        <div class="row">
            <div class="span13">
                <div class="row">
                    <div class="span13">
                        <p>
                            <span>Choose one card to build, and which cards you want to use as payment.</span>
                        </p>
                    </div>
                </div>                   
                <div class="row">
                    <div class="span13">
                        <p>
                            <strong>
                                <span ng:hide="responder.response.build">Not chosen anything to build.</span>
                                <span ng:show="responder.response.build">
                                    <span>Choosing to build {{cardService.cardMap[responder.response.build]}}.</span>
                                    <span ng:show="responder.unableToBuildReason">{{responder.unableToBuildReason}}</span>
                                    <span ng:show="responder.currentBuildCost && !responder.unableToBuildReason">
                                        <span>Cost to you is {{responder.currentBuildCost}}. </span>
                                        <span ng:hide="responder.response.payment">No payment chosen yet. </span>
                                    </span>
                                    <span ng:hide="responder.currentBuildCost">There is no cost to you!</span>
                                    <span ng:show="responder.response.payment">
                                        <span>{{cardService.cardList(responder.response.payment)}} chosen as payment.</span>
                                        <span ng:show="!responder.choicesMade()">Still need to pay {{responder.currentBuildCost - responder.response.payment.length}} card(s) more.</span>
                                   </span>
                                </span>
                                
                            </strong>
                        </p>
                    </div>
                </div>                   
            </div>
            <div class="span3">
                <button ng:disabled="!responder.choicesMade()" class="btn success" ng:click="responder.sendResponse()">Build</button>
                <button class="btn" ng:click="responder.commitSkipResponse()">Skip build</button>
            </div>
        </div>
