
        <div class="row">
            <div class="span14">
                <div class="row">
                    <div class="span14">
                        <p>
                            <span>Here are {{responder.offeredCount}} cards you can collect and add to your hand.</span>
                            <span ng:show="responder.cardsToDiscard">Choose which {{responder.cardsToDiscard}} card(s) to discard.</span>
                            <span ng:show="responder.cardsToDiscard && responder.offered.councilCanDiscardHandCards">As you have built the Archive, you can discard existing hand cards instead if you wish.</span>
                        </p>
                    </div>
                </div>                   
                <div class="row">
                    <div class="span14">
                        <p><strong><span ng:show="responder.response.councilDiscarded">Choosing {{cardService.cardList(responder.response.councilDiscarded)}}.</span> <span ng:show="responder.remain">Still {{responder.cardsToDiscard - responder.response.councilDiscarded.length}} card(s) to discard.</span></strong></p>
                    </div>
                </div>                   
                <div class="row">
                    <div class="span2">&nbsp;</div>
                    <div class="span1 card" ng:twipsy title="{{cardService.cardType(councillorCard).description}}" ng:repeat="councillorCard in responder.offered.councilOffered" ng:click="responder.clickCouncilCard(councillorCard)">
                        <img class="selectable-card {{responder.councilCardSelectedType(councillorCard)}}" ng:src="{{cardService.cardImageUrl(councillorCard)}}" width="55" height="80" />
                    </div>
                </div>                   
            </div>
            <div class="span2">
                <button ng:disabled="!responder.choicesMade()" class="btn success" ng:click="responder.commitResponse()"><span ng:show="responder.cardsToDiscard">Discard</span><span ng:hide="responder.cardsToDiscard">Collect</span></button>
            </div>
        </div>
        <div class="row">
            <p>&nbsp;</p>
        </div>        

        