
  
    <div class="container">
        <div class="row">
            <div class="span2"><h1><small>Round</small> {{responder.game.roundNumber}}</h1></div>
            <div class="span2"><h1><small>Roles</small></h1></div>
            <div class="span1 card role-{{role}}" ng:repeat="role in responder.game.$usedRoles">
                <div class="used-role">&nbsp;</div>
                <img class="selectable-card" ng:src="{{roleImageUrl(role)}}" width="55" height="70" />
            </div>
            <div class="span1 card role-{{responder.game.$currentRole}}" ng:show="responder.game.$currentRole">
                <img class="selectable-card current-role" ng:src="{{roleImageUrl(responder.game.$currentRole)}}" width="55" height="70" />
            </div>                    
            <div class="span1 card role-{{role}}" ng:click="clickRoleCard(role)" ng:repeat="role in responder.game.$unusedRoles">
                <img class="selectable-card selected-role-{{showSelected(role)}}" ng:src="{{roleImageUrl(role)}}" width="55" height="70" />
            </div>
            <div class="span1">&nbsp;</div>
            <div class="span5"><h1><small>Supply</small> {{responder.game.deck.supplyCount}} <small>Discard</small> <small>{{responder.game.deck.discardCount}}</small></h1></div>
        </div>

        <div class="row" ng:show="!responder.game.complete">
            <p>&nbsp;</p>
            <div class="span16">
                <div class="alert-message {{statusText.waiting | ternary:'warning':'success'}}">
                    <p>{{statusText.message | html}}</p>
                </div>
            </div>
<!--             <pre>{{responder.response}}</pre> -->
            
        </div>
        
        <ng:include src="responder.template"></ng:include>
        
<!--         <div class="alert-message info"> -->
<!--           <p>Waiting for player <strong>Dave</strong> to make his move.</p> -->
<!--         </div>         -->

        <div class="player-row" ng:repeat="player in responder.game.players">
            <div class="row">
                <div class="span16 player self-{{isSelf(player.name)}}">
                    <div class="row">
                        <div class="span1">
                            <img ng:show="responder.game.currentPlayerName == player.name" src="images/player-marker.png" width="40" height="40" />
                            &nbsp;
                        </div>
                        <div ng:show="false" class="span1">
                            <img style="padding-left: 5px; padding-top: 5px;" ng:src="http://img.tweetimag.es/i/{{player.name}}_n" width="30" height="30" />
                        </div>
                        <div class="span9">
                            <h2 class="light-text">{{player.name}} <span ng:show="isSelf(player.name)" class="smaller">(you)</span></h2>
                        </div>
                        <div class="span2">
                            <h1><small>{{player.handCount}} in hand</small></h1>
                            &nbsp;
                        </div>
                        <div class="span2">
                            <span class="label important" ng:show="responder.game.$round.governor == player.name">Governor</span>&nbsp;
                            <span class="label warning" ng:show="responder.game.$round.$phase.leadPlayer == player.name && responder.game.$round.$phase.state == 'PLAYING'">Privilege</span>&nbsp;
                        </div>
                        <div class="span2">
                        </div>
                        <div class="span2">
                            <h1>{{player.victoryPoints}} <small>pts</small></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng:show="isSelf(player.name)">
                <div class="span2"><h1><small>Hand</small></h1></div>
                <div ng:hide="player.hand" class="span7"><h1><small>No cards left in your hand!</small></h1></div>
                <div class="span1 card" ng:twipsy title="{{cardService.cardType(handCard).description}}" ng:repeat="handCard in player.hand" ng:click="getResponder(player.name).clickHandCard(handCard)">
                    <img class="selectable-card {{responder.handCardSelectedType(handCard)}}" ng:src="{{cardService.cardImageUrl(handCard)}}" width="55" height="80" />
                </div>
            </div>
            <div class="row" ng:show="isSelf(player.name)">
                <p>&nbsp;</p>
            </div>                 
            <div class="row">
                <div class="span2">
                    <h1>
                        <small>Buildings</small><br/>
                        <small>{{player.buildings.length}}<span class="smaller">/12</span></small>
                    </h1>
                </div>
                <div class="span1 card" ng:twipsy title="{{cardService.cardType(building).description}}" ng:repeat="building in player.buildings" ng:click="getResponder(player.name).clickBuildingCard(building)">
                    <div class="building-overlay {{arrayContains(player.producedFactories, building) | ternary:'production-good':''}}">&nbsp;</div>
                    <div ng:show="player.chapelCardCount && cardService.isChapel(building)" class="building-overlay chapel-cards">{{player.chapelCardCount}}</div>
                    <img class="selectable-card {{responder.buildingCardSelectedType(building)}}" ng:src="{{cardService.cardImageUrl(building)}}" width="55" height="80" />
                </div>
            </div>
               
            <div class="row">
                <p>&nbsp;</p>
            </div>   
        </div>  
     <footer>
       <p><small>Version: {{gameService.version}} {{gameService.doGameUpdates | ternary:'Updating':'Not updating'}} {{gameService.requestTrack | repeated:'*'}}</small></p>
     </footer>     
    </div>
