    <div class="container">
    
        <div class="row">
            <a href="" ng:click="createGame()">Create new game</a>
        </div>
        
        <div class="row">
            <p>&nbsp;</p>
        </div>
        
        <div class="row">
            <h2>my games</h2>
        </div>        
                
        <div class="row game-listing" ng:repeat="game in games">
          <div class="span2" ng:show="game.state == 'PLAYING'"><h3><a ng:href="#/games/{{game.gameId}}">{{game.state | lowercase}}</a></h3></div>
          <div class="span2" ng:show="game.state == 'RECRUITING'"><h3>{{game.state | lowercase}}</h3></div>
          <div class="span3"><h2><small><span ng:repeat="player in game.players">{{player.name}} </span></small></h2></div>
          <div class="span2">&nbsp;<button ng:show="game.owner == userManager.user.username" class="btn danger" ng:click="deleteGame(game)">Delete</button></div>
          <div ng:show="game.state == 'RECRUITING'">
            <div class="span8"><button ng:show="game.owner == userManager.user.username" ng:disabled="game.players.length < 2" class="btn success" ng:click="startGame(game)">Start game</button></div>
          </div>
        </div>

        <div class="row">
            <p>&nbsp;</p>
        </div>
        
        <div class="row">
            <h2>games to join</h2>
        </div>        
                
        <div class="row game-listing" ng:repeat="game in openGames">
          <div class="span2" ng:show="game.state == 'PLAYING'"><h3><a ng:href="#/games/{{game.gameId}}">{{game.state | lowercase}}</a></h3></div>
          <div class="span2" ng:show="game.state == 'RECRUITING'"><h3>{{game.state | lowercase}}</h3></div>
          <div class="span3"><h2><small><span ng:repeat="player in game.players">{{player.name}} </span></small></h2></div>
          <div class="span8"><button class="btn success" ng:click="joinGame(game)">Join game</button></div>
        </div>        
        
    </div>
