
        <div class="row">
            <div class="span16" ng:show="false">
                <pre>response={{responder.response}}</pre>
                <pre>options={{responder.options}}</pre>
            </div>
            <div class="span13">
                <div class="row">
                    <div class="span13">
                        <p>{{responder.introductionMessage}}</p>
                    </div>
                    <div class="span13">
                        <p><strong>{{responder.actionMessage}}</strong></p>
                    </div>
                </div>
            </div>
            <div class="span3">
                <button ng:disabled="!responder.choicesMade()" class="btn success" ng:click="responder.sendResponse()">Make choice</button>
            </div>           
      </div>
        