        <div class="row" ng:show="responder.game.$round.$phase.$play.hasPrivilige">
            <div class="span14">
                <p>You can collect a card!</p>
            </div>
            <div class="span2"><button class="btn success" ng:click="responder.commitResponse()">Collect card</button></div>
        </div>

        <div class="row" ng:hide="responder.game.$round.$phase.$play.hasPrivilige">
            <div class="span14">
                <p>No privilege, so no card for Prospector</p>
            </div>
            <div class="span2"><button class="btn" ng:click="responder.commitResponse()">Continue</button></div>
        </div>
        <div class="row">
            <p>&nbsp;</p>
        </div>        
        