<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"    
    xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
         http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
         http://www.springframework.org/schema/data/mongo
         http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
         
    <context:property-placeholder location="classpath:properties/sanjuan.properties"/>

    <context:component-scan base-package="com.github.dansmithy"/>

	<aop:aspectj-autoproxy/>
    
    <!-- Security -->
    
    <bean id="loginRedirectStrategy" class="com.github.dansmithy.sanjuan.security.spring.JsonResponseRedirectStrategy" />
    <bean id="loginSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <property name="redirectStrategy" ref="loginRedirectStrategy" />
    </bean>

    <bean id="userService" class="com.github.dansmithy.sanjuan.security.user.SanJuanUserDetailsService" />
    <bean id="forbiddenEntryPoint" class="com.github.dansmithy.sanjuan.security.spring.JsonResponseHttp403AuthenticationEntryPoint" />
    <bean id="http403AuthenticationFailureHandler" class="com.github.dansmithy.sanjuan.security.spring.Http403AuthenticationFailureHandler" />
    <bean id="retrieveDetailsFilter" class="com.github.dansmithy.sanjuan.security.spring.RetrieveUserDetailsFilter" />
    
    <bean id="jsonPayloadAuthenticationFilter" class="com.github.dansmithy.sanjuan.security.spring.JsonPayloadUsernamePasswordAuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager" />
        <property name="authenticationSuccessHandler" ref="loginSuccessHandler" />
        <property name="authenticationFailureHandler" ref="http403AuthenticationFailureHandler" />
        <property name="sessionAuthenticationStrategy">
            <bean class="org.springframework.security.web.authentication.session.SessionFixationProtectionStrategy" />
        </property>
    </bean>
    
    <sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider user-service-ref="userService" >
			<sec:password-encoder hash="md5" />
		</sec:authentication-provider>        
    </sec:authentication-manager>
    
    <sec:global-method-security jsr250-annotations="enabled" />
    <sec:http entry-point-ref="forbiddenEntryPoint" use-expressions="true" >
        <sec:custom-filter position="FORM_LOGIN_FILTER" ref="jsonPayloadAuthenticationFilter" />
        <sec:custom-filter before="FORM_LOGIN_FILTER" ref="retrieveDetailsFilter" />
        <sec:access-denied-handler ref="forbiddenEntryPoint" />
        <sec:logout />
        <sec:intercept-url pattern="/**" access="permitAll" filters="none" />
    </sec:http>
        
</beans>