<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"    
    xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
         http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
         http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
         http://www.springframework.org/schema/data/mongo
         http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
         
    <context:property-placeholder location="classpath:properties/sanjuan.properties" system-properties-mode="OVERRIDE" ignore-resource-not-found="true" />

    <context:component-scan base-package="com.github.dansmithy"/>

	<aop:aspectj-autoproxy/>
    
    <!-- Security -->
    <sec:global-method-security jsr250-annotations="enabled" />
    <sec:http entry-point-ref="forbiddenEntryPoint" use-expressions="true">
        <sec:intercept-url pattern="/**" access="permitAll" />
        <sec:logout logout-url="/logout"/>
    </sec:http>

    <bean id="forbiddenEntryPoint"
        class="com.github.dansmithy.sanjuan.twitter.service.springsecurity.JsonResponseHttp403AuthenticationEntryPoint" />

    <bean id="org.springframework.security.authenticationManager"
        class="org.springframework.security.authentication.ProviderManager">
        <property name="providers">
            <bean class="com.github.dansmithy.sanjuan.twitter.service.springsecurity.DummyAuthenticationProvider" />
        </property>
    </bean>
    
</beans>